-- CreateTable
CREATE TABLE `tb_usuarios` (
    `id_usuario` INTEGER NOT NULL AUTO_INCREMENT,
    `nome_usuario` CHAR(45) NULL,
    `email` VARCHAR(100) NULL,
    `senha` CHAR(120) NULL,
    `endereco_imagem` VARCHAR(100) NULL,
    `descricao` VARCHAR(160) NULL,
    `num_telefone` VARCHAR(17) NULL,
    `genero` CHAR(4) NULL,
    `localizacao` VARCHAR(45) NULL,
    `dt_nascimento` DATE NULL,
    `cargo` ENUM('user', 'admin') NULL DEFAULT 'user',
    `status` TINYINT NULL DEFAULT 1,
    `criado_em` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `atualizado_em` TIMESTAMP(0) NOT NULL,

    PRIMARY KEY (`id_usuario`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

