@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-animate {
    background-size: 200% 100%;
    background-position: 0% 0%;
    transition: background-position 0.5s, transform 0.3s;
}

.gradient-animate:hover {
    background-position: 100% 0%;
}

.scroll-profile {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 transparent;
}


body {
  margin: 0;
  background-color: black;
}
