name: Build and deploy Node.js app to Azure Web App - ekhytera

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "23.x"

      - name: Install backend dependencies
        run: |
          cd backend
          npm install

      - name: Generate Prisma client
        run: | 
          cd backend
          npx prisma generate

      - name: Verify if Prisma client was generated
        run: |
          ls -la backend/node_modules/@prisma/client/
          ls -la backend/node_modules/.prisma/client/

      - name: Build frontend
        working-directory: frontend
        env:
          VITE_HOST: ${{ secrets.VITE_HOST }}
          VITE_PORT: ${{ secrets.VITE_PORT }}
        run: |
          npm install
          npm run build

      # Move frontend build output into backend/public before packaging
      - name: Move frontend build into backend
        run: |
          mkdir -p backend/public
          cp -r frontend/dist/* backend/public/

      # Upload artifact for deployment
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            backend/**
            backend/node_modules/**/*

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@8c334a195cbb38e46038007b304988d888bf676a
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@657f0700ea5214d56a0400d8ac5e8023c963d25d
        with:
          app-name: "ekhytera"
          package: .
